div{
    width: 100%;
    height: 400px;
    background-image: url(https://images.caradisiac.com/logos-ref/modele/modele--toyota-land-cruiser-serie-150/S0-modele--toyota-land-cruiser-serie-150.jpg);
    background-size: cover;
    background-attachment: fixed;
}

